.proInfo{
  width: 100%;
  position: relative;
  .heading{
    width: 100%;
    height: .7rem;
    line-height: .7rem;
    text-align: center;
    font-size: .25rem;
    color: #313131;
    font-weight: bold;
    letter-spacing: .1rem;
    span{
      display: block;
      float: left;
    }
  }
  .main{
    width: 100%;
    h2{
      height: .7rem;
      line-height: .7rem;
      font-size: .28rem;
      background: #f6f8fa;
      padding-left: .3rem;
      color: #9f9f9f;
      letter-spacing: .1rem;
      border-bottom:.01rem solid #e9e9ea ;
    }
    ul {
      width: 100%;
      li{
        border-bottom: .01rem solid #eaeaea;
        &:after{
          display: block;
          content: "";
          clear: both;
        }
        &.infoDetail{
          height: 1.6rem;
          line-height: 1.6rem;
          &:after{
            display: block;
            content: "";
            clear: both;
          }
        .left{
          float: left;
          .imgChange{
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: orangered;
            vertical-align: middle;
            margin: 0 .4rem 0 .25rem;
          }
          p{
            display: inline-block;
            vertical-align: middle;
            font-size: .25rem;
            color: #9d9d9d;
          }
        }
        span{
          display: block;
          float: right;
          margin-right: .25rem;
        }
      }
        &.infoOther{
          height: .7rem;
          line-height: .7rem;
          &:after{
            display: block;
            content: "";
            clear: both;
          }
          .infoLeft{
            float: left;

            p{
              float: left;
              &:nth-of-type(1){
              color: #959595;
              font-size: .3rem;
              margin:0 .45rem;

            }
              &:nth-of-type(2){
                font-size: .3rem;
                color: #292929;
              }

            }

          }
          span{
            display: block;
            float: right;
            margin-right: .25rem;
          }
        }
      }

    }
  }
  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    h2{
      height: 1.2rem;
      line-height: 1.2rem;
      background: #f6f8fa;
      padding-left: .3rem;
      color: #9f9f9f;

    }

  }
}